
body {
    font-family: 'Pretendard' !important;
    font-weight: 600 !important;
}

/* 언어선택 */

.nav-item.show .dropdown-menu.show {
    margin: 0;
    margin-top: 10%;
    padding: 0;
    right: 0;
    left: 0;
    min-width: 60px;
}

.nav-item.show .dropdown-menu.show .dropdown-item {
    color: rgba(0,0,0,.2) !important;
    text-align: center;
    padding: 0;
    padding-top: 10px;

}

.nav-item.show .dropdown-menu.show .dropdown-item:last-child {
    padding-bottom: 10px;
}

.nav-item.show .dropdown-menu.show .dropdown-item:hover {
    background-color: transparent;
    color: black !important;
}

.nav-item.show .dropdown-menu.show h2 {
    text-align: center;
    font-size: .9em;
    font-weight: 900 !important;
    padding: 15px;
    width: auto;
    border-bottom: 1px solid rgba(0,0,0,.4);
}

.nav-item {
    padding: 0 30px;
}

.nav-item .dropdown-toggle {
    padding: 0 30px;
    display: block;
}

.nav-item .dropdown-toggle::after {
    margin-left: .55em;
}

/* 스와이퍼 커스텀 */

.topswiper .swiper { height: 100%;}

.topswiper .swiper-button-next,
.topswiper .swiper-button-prev {
    width: 50px;
    height: 50px;
    background-color: rgba(255,255,255,.4);
}

.topswiper .swiper-button-prev {
    top: unset;
    bottom: 4%;
    right: unset;
    left: 70%;
}

.topswiper .swiper-button-next {
    bottom: 4%;
    left: unset;
    right: 22%;
    top: unset;
}

.topswiper .swiper-pagination {
    width: 6%;
    padding: .5% 0;
    background-color: rgba(0,0,0,.5);
    border-radius: 30px;
    color: white;
    left: 71%;
    right: unset;
    bottom: 18%;
}

.topswiper .swiper-button-next::after,
.topswiper .swiper-button-prev::after {
    color: black;
    font-size: 30px;
}

.reswiper {
    height: 200px;
}


.reswiper .swiper-wrapper { justify-content: center; transform: translate3d(0,0,0) !important; align-items: center;}

.reswiper .swiper-slide { width: 150px !important; height: 20%; border: 1px solid #005585; border-right: none;}

.reswiper .swiper-slide:last-child { border-right: 1px solid #005585;}

.reswiper .swiper-slide > div { opacity: .2;}

.reswiper .swiper-slide-active { background-color: #005585;}

.reswiper .swiper-slide-active > div { opacity:1; color: white; }

.twoswiper #map { left: 50% !important; transform: translateX(-50%) !important;}

.bestswiper .swiper-wrapper { align-items: center;}

.bestswiper .swiper-slide { background-color: yellow;}

.bestswiper .swiper-button-next::after,
.bestswiper .swiper-button-prev::after {font-size: 20px; font-weight: normal; color:black;}
/* 햄버거 버튼 */

.mobile.mobileon {transform: translateY(0) !important;}

.ham.hamon i::before {content: '\F659';}