
body {
    font-family: 'Pretendard' !important;
    font-weight: 600 !important;
}

/* 언어선택 */

.nav-item.show .dropdown-menu.show {
    margin: 0;
    margin-top: 10%;
    padding: 0;
    right: 0;
    left: 0;
    min-width: 60px;
}

.nav-item.show .dropdown-menu.show .dropdown-item {
    color: rgba(0,0,0,.2) !important;
    text-align: center;
    padding: 0;
    padding-top: 10px;

}

.nav-item.show .dropdown-menu.show .dropdown-item:nth-of-type(2n){
    padding-bottom: 10px;
}

.nav-item.show .dropdown-menu.show .dropdown-item:hover {
    background-color: transparent;
    color: black !important;
}

.nav-item.show .dropdown-menu.show > h2:first-of-type {
    text-align: center;
    font-size: .9em;
    font-weight: 900 !important;
    padding: 15px;
    width: auto;
    border-bottom: 1px solid rgba(0,0,0,.4);
}

.nav-item.show .dropdown-menu.show > h2:last-of-type {
    text-align: center;
    font-size: .9em;
    font-weight: 900 !important;
    padding: 15px;
    width: auto;
    border-top: 1px solid rgba(0,0,0,.4);
}

.nav-item {
    padding: 0 30px;
}

.nav-item .dropdown-toggle {
    padding: 0 30px;
    display: block;
}

.nav-item .dropdown-toggle::after {
    margin-left: .55em;
}

/* 스와이퍼 커스텀 */

.topswiper .swiper { height: 100%;}

.topswiper .swiper-button-next,
.topswiper .swiper-button-prev {
    width: 50px;
    height: 50px;
    background-color: rgba(255,255,255,.4);
}

.topswiper .swiper-button-next::after,
.topswiper .swiper-button-prev::after {
    color: black;
    font-size: 30px;
}

.topswiper .swiper-scrollbar { opacity: 1 !important; width: 20%; left: 50%; transform: translateX(-50%); bottom: 10%;}

.topswiper .swiper-scrollbar > div { width: 33.333% !important; }

.reswiper {
    height: 200px;
}


.reswiper .swiper-wrapper { justify-content: center; transform: translate3d(0,0,0) !important; align-items: center;}

.reswiper .swiper-slide { width: 150px !important; height: 20%; border: 1px solid #005585; border-right: none;}

.reswiper .swiper-slide:last-child { border-right: 1px solid #005585;}

.reswiper .swiper-slide > div { opacity: .2;}

.reswiper .swiper-slide-active { background-color: #005585;}

.reswiper .swiper-slide-active > div { opacity:1; color: white; }

.twoswiper #map { left: 50% !important; transform: translateX(-50%) !important;}

.bestswiper .swiper-wrapper { align-items: stretch;}

.bestswiper .swiper-slide { background-color: yellow;}

.bestswiper .swiper-button-next::after,
.bestswiper .swiper-button-prev::after {font-size: 20px; font-weight: normal; color:black;}

.imgswiper {height: 100%; padding-bottom:3%}
.imgswiper .swiper-wrapper {padding-bottom: 3%;}

.imgswiper .swiper-scrollbar { z-index: 100000; bottom: 0; opacity: 1 !important;}

.prswiper { height: 80%;}

.prswiper .swiper-wrapper { height: 100%;}

.prswiper .swiper-wrapper .swiper-slide { opacity: .4;}

.prswiper .swiper-wrapper .swiper-slide-active { opacity: 1;}

.promotionswiper {
    height: 0 !important;
    overflow: hidden;
    transition: height .4s;
}

.promotionswiper.legend { height:600px !important;}

/* 햄버거 버튼 */

.mobile.mobileon {transform: translateY(0) !important;}

.ham.hamon i::before {content: '\F659';}

/* 부트스트랩 아이콘 */
.bi-chevron-down.btntoggle::before {content: ' \F286' !important;}

/* 슬라이드 애니메이션 */
