.headerall { /* position: fixed; top: 0; left: 0; right: 0; */}

.headerall > nav {padding: 0; background-color: black;}

.headerall .hcontainer { width: 90%; margin: 0 auto;}

.headerall .hcontainer > a { padding: 0; margin: 0; padding: 30px 0;}

.headerall .hcontainer > a img { width: 250px;}

.headerall .hcontainer > div a { color: white !important; font-weight: 400 !important; padding: 30px 0; display: block;}

.headerall .hcontainer .navmain a { padding: 32px;}

.headerall .hcontainer .navmain > a { position: relative;}

.headerall .hcontainer .navmain:hover::after {content: ''; position: absolute; left: 0; right: 0; top: 100%; display: block; background-color: black; height: 50px; z-index: 1000000;}

.headerall .hcontainer .navmain .submain { top: 100%; left: 0; right: -200%; display: none; z-index: 1000001;}

.headerall .hcontainer .navmain .submain a { color: white!important; padding: 12.5px;}

.headerall .hcontainer .navmain > a:hover .submain { display: flex; }

.headerall .hcontainer .navmain > a:hover { color: #50bdff !important; border-bottom: 2px solid #50bdff;}


.headerall .hcontainer .searchbtn {display: flex; justify-content: center; align-items: center; background-color: transparent; border: none;}

.headerall .hcontainer .searchbtn span { display: block; text-indent: -9999em;}

.headerall .hcontainer .searchbtn::after {content: ''; background: url('../img/searchbtn.png') no-repeat center/cover; display: block; width: 20px; height: 20px;}

.headerall .hcontainer .hambtn span {display: block; text-indent: -9999em;}

.headerall .hcontainer .hambtn { justify-content: center; align-items: center; border: none; background-color: transparent;}

.headerall .hcontainer .hambtn i::before {font-size: 35px;}

.headerall .hcontainer .mobile {width: 100%; height: auto; background-color: black; left: 0; top: 100%; display: block; z-index: 1000000; transform: translateY(-200%); transition: all .4s;}

.headerall .hcontainer .mobile > a {text-align: center; border-top: 1px solid rgba(255,255,255,.2); padding: 20px 0;}

.headerall .hcontainer .mobile > a:hover .mobilesub {min-height: 130px;}

.headerall .hcontainer .mobile .mobilesub {min-height: 0; height: 0; overflow: hidden; transition: all .4s; flex-direction: column;}

.headerall .hcontainer .mobile .mobilesub a {padding: 0; padding-top: 15px; font-weight: lighter !important;}