@media (max-width: 730px) {
    .topswiper {
        height: 1300px !important;
    }
    .topswiper > div {
        height:400%;
    }
}

@media (max-width: 400px) {
    .logobar img {
        width: 200px !important;
    }
}