.slidewrap { height: 600px; display: flex; justify-content: center; align-items: center; margin: 5% 0;}
.slidewrap .slidenest { border-radius: 10px; overflow: hidden; display: flex; margin: 0 20%; box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); }
.slidewrap .slidenest .mainslide2slide > div {text-align: center; padding-top: 10%;}
.slidewrap .slidenest .mainslide2slide > div h2 {font-weight: bold; padding-bottom: 2%;}
.slidewrap .slidenest .mainslide2slide > div p:first-of-type { font-size: 1.1em; font-weight: normal;}
.slidewrap .slidenest img {width: 100%; height: 100%; object-fit: cover;}